[submodule "scraping"]
	path = scraping
	url = https://github.com/aschlaton/player-stats-scraping.git
[submodule "database"]
	path = database
	url = https://github.com/aschlaton/player-stats-db.git
[submodule "backend"]
	path = backend
	url = https://github.com/aschlaton/player-stats-backend.git
